<%- include("partials/navbar") %>

<div class="container mt-4">

<h3>Add Project</h3>

<form method="POST" enctype="multipart/form-data">

<input 
name="title" 
class="form-control mb-2" 
placeholder="Project Title"
required
>

<textarea 
name="description" 
class="form-control mb-2" 
placeholder="Description"
required
></textarea>

<input 
name="link" 
class="form-control mb-2" 
placeholder="GitHub link (optional)"
>

<label>

Upload Project Image

</label>

<input 
type="file" 
name="image" 
class="form-control mb-2"
required
>

<button class="btn btn-primary">

Submit

</button>

</form>

</div>