<%- include("partials/navbar") %>

<div class="container d-flex justify-content-center align-items-center" style="min-height:80vh">

<div class="card p-5 shadow-lg" style="width:420px">

<h2 class="text-center mb-4">
Admin Login
</h2>

<form method="POST">

<input
name="email"
class="form-control mb-3"
placeholder="Admin Email"
required
>

<input
type="password"
name="password"
class="form-control mb-3"
placeholder="Password"
required
>

<% if(error){ %>

<div class="alert alert-danger">
<%= error %>
</div>

<% } %>

<button class="btn btn-dark w-100">
Login
</button>

</form>

<div class="text-center mt-4">

<a href="/admin/register" class="text-info">
Create Admin Account
</a>

<br><br>

<a href="/admin/forgot" class="text-warning">
Forgot Password?
</a>

</div>

</div>

</div>