<%- include("partials/navbar") %>

<div class="container d-flex justify-content-center align-items-center" style="min-height:80vh">

<div class="card p-5 shadow-lg" style="width:450px">

<h2 class="text-center mb-4">
Reset Admin Password
</h2>

<form method="POST" action="/admin/reset-password">

<input
type="hidden"
name="email"
value="<%= email %>"
>

<input
type="password"
name="password"
class="form-control mb-4"
placeholder="New Password"
required
>

<button class="btn btn-success w-100">
Update Password
</button>

</form>

</div>

</div>