<%- include("partials/navbar") %>

<div class="container d-flex justify-content-center align-items-center" style="min-height:80vh">

<div class="card p-5 shadow-lg" style="width:450px">

<h2 class="text-center mb-4">
Forgot Password
</h2>

<form method="POST">

<input
name="email"
class="form-control mb-3"
placeholder="Enter Email"
required
>

<div class="captcha-box mb-3">

<%= captcha %>

</div>

<input
name="captcha"
class="form-control mb-3"
placeholder="Enter Captcha"
required
>

<% if(error){ %>

<div class="alert alert-danger">
<%= error %>
</div>

<% } %>

<button class="btn btn-primary w-100">
Verify
</button>

</form>

</div>

</div>