<%- include("partials/navbar") %>

<div class="container d-flex justify-content-center align-items-center" style="min-height:80vh">

<div class="card p-5 shadow-lg" style="width:420px">

<h2 class="text-center mb-4">
Student Login
</h2>

<form method="POST">

<input
name="email"
class="form-control mb-3"
placeholder="Enter Email"
required
>

<input
type="password"
name="password"
class="form-control mb-3"
placeholder="Enter Password"
required
>

<% if(error){ %>

<div class="alert alert-danger">

<%= error %>

</div>

<% } %>

<button class="btn btn-primary w-100">
Login
</button>

</form>

<div class="text-center mt-3">

<a href="/forgot" class="text-info">
Forgot Password?
</a>

</div>

</div>

</div>