<%- include("partials/navbar") %>

<div class="container mt-4">

<h3>Profile</h3>

<div class="card p-3">

<p>

Name: <%= user.name %>

</p>

<p>

Email: <%= user.email %>

</p>

<p>

USN: <%= user.usn %>

</p>

</div>

</div>