<%- include("partials/navbar") %>

<div class="container d-flex justify-content-center align-items-center" style="min-height:80vh">

<div class="card p-5 shadow-lg" style="width:450px">

<h2 class="text-center mb-4">
Student Registration
</h2>

<form method="POST">

<input
name="name"
class="form-control mb-3"
placeholder="Full Name"
required
>

<input
name="usn"
class="form-control mb-3"
placeholder="USN"
required
>

<input
name="email"
class="form-control mb-3"
placeholder="Email"
required
>

<input
type="password"
name="password"
class="form-control mb-3"
placeholder="Password"
required
>

<% if(error){ %>

<div class="alert alert-danger">

<%= error %>

</div>

<% } %>

<button class="btn btn-success w-100">
Register
</button>

</form>

</div>

</div>